<h1>New image</h1> 

<%= form_tag "/images", method: :post do %>
  <div>
    Url: <input type="text" name="image">
  </div>
  <div>
    Product_id: <input type="text" name="Product_id">
  </div>
  <div>
    <input type="submit" name="Create image">
  </div>
<% end %>